{{ define "main" }}

    <div class="container mx-auto px-4 md:px-8">

        <article class="prose lg:prose-xl prose-zinc dark:prose-invert">

            <ul>
                {{ range $tags := .Params.tags }}
                    <li class="inline-block text-zinc-500">{{ $tags }}</li> <span class="text-zinc-500 last-of-type:hidden">&#8226</span>
                {{ end }}
            </ul>
            <h3 class="text-5xl font-bold leading-tight mb-2 text-zinc-800 dark:text-zinc-200">{{ .Params.title }}</h3>
            <p class="text-xl leading-normal text-zinc-600 dark:text-zinc-400">{{ .Params.description }}</p>
    
            <img src="{{ .Params.bannerUrl }}" alt=""/>
    
            {{.Content}}
    
        </article>

    </div>

{{ end }}