{{ define "main" }}

    <div class="container mx-auto px-4 md:px-8">

        <div class="prose lg:prose-xl prose-zinc dark:prose-invert max-w-full">

            <ul class="!p-0">
                {{ range $tags := .Params.tags }}
                    <li class="inline-block">{{ $tags }}</li> <span class="text-zinc-500 last-of-type:hidden">&#8226</span>
                {{ end }}
            </ul>
            <h1 class="text-6xl font-bold leading-tight mb-2 ">{{ .Params.title }}</h1>
            <p class="text-xl leading-normal ">{{ .Params.description }}</p>
    
            <img src="{{ .Params.bannerUrl }}" alt=""/>
    
            {{.Content}}
    
        </div>

    </div>

{{ end }}