<footer class="print:hidden">
    <div class="container mx-auto px-4 md:px-8">
        <h2 class="text-5xl font-bold leading-tight mb-2">Say Hello.</h2>
        <div class="grid md:grid-cols-2 gap-6">
            <div>
                <p>email <a href="mailto:"></a></p>
            </div>
            <div>
                kasdfna
                <!-- <p><b>Social Media</b></p> -->
                <ul class="list-inline" id="social-media">
                    <li class="list-inline-item">
                        <a href=""><i class=""></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <p>Copyright © <span id="current-year"></span> Jasper Lepardo. <br class="sm:hidden"/> All rights reserved.</p>
    </div>
</footer>